---
import Layout from "@layouts/Layout.astro";
import Contactform from "@components/contactform.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="">
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <Container>
    <main class="mt-[150px] lg:mt-[200px] mb-[150px]">
    <p class="mt-16 mb-8 text-5xl md:text-7xl font-bold lg:tracking-tight">
      Explore, Innovate, Succeed.
    </p>
    <p class="text-lg text-slate-600 md:text-[1.6rem] leading-tight max-w-2xl lg:max-w-4xl text-left">
      We're a group of passionate biology students preparing for the USA Biolympiad (USABO). Our initiative <b>Mitosisphere</b> aims to provide a high-quality resource that mirrors the difficulty of national-level biology exams. <br> <br>
    </p>
  </main>
  </Container>
  <Container>
    <main class="md:pt-[30px] mb-[150px]">
    <p class="mt-16 mb-[30px] text-5xl font-bold lg:tracking-tight">
      Our Exams
    </p>
    <div class="md:flex grid-cols-2 md:gap-[50px] justify-between items-center">
      <div class="leading-tight text-[1.25rem] text-slate-600 max-w-xl lg:max-w-3xl text-left">
        <b>Learn</b><br>
        <p class="mb-[20px]">Our exam series encompasses the entirety of biology, covering topics such as cellular and molecular biology, genetics, evolution, anatomy and physiology, ecology, and biochemistry.</p>
        <b>Think</b><br>
        <p class="mb-[20px]">Our team aims to help students improve problem-solving skills in addition to gauging their knowledge. Questions are concept-based and often require interpreting data or applying biological principles to complex scenarios</p>
        <b>Improve</b><br>
        <p>With high-quality questions similar to the USABO and guided solutions, we intend our exam to serve as both a learning platform and a practice tool.</p>
      </div>
      <div class="md:w-[300px] md:h-[340px]">
        <img src="/favicon.png" class="hidden md:block h-[250px] place-self-center">
        <Link
          href="#"
          href="/competitions"
          target="_blank"
          class="flex gap-1 items-center justify-center w-full md:w-[300px] place-self-center mt-10"
          rel="noopener"
          style="primary">

          Learn More!
        </Link>
      </div>
    </div>
  </main>
  </Container>
  <Container>
    <main class="md:pt-[30px] mb-[150px]">
      <p class="mt-16 mb-[30px] text-5xl font-bold lg:tracking-tight place-self-center">
        Join!
      </p>
    <div class="leading-tight text-[1.25rem] text-slate-600 max-w-xl lg:max-w-3xl place-self-center text-left md:text-justify">
      <p>Interested in joining our initiative? We are always welcoming new members, especially <b>web designers</b> to create a professional online presence
      and <b>international branches</b> (outside the U.S.) to expand our reach.</p><br>
      <p>Be part of a global movement to inspire and support future biologists. As we are still a small organization, there are currently plenty of core leadership positions available!</p>
      <div class="max-w-3xl grid grid-rows-1 space-y-5 md:space-y-0 md:grid-cols-2 md:space-x-4 mt-[2em]">
        <Link
          href="#"
          href="https://docs.google.com/forms/d/e/1FAIpQLSdBh6WyA76PXna-xQyIC8KQlsWNW37gEcx2WW1JVwAYg3YHiQ/viewform"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener"
          style="primary">

          Our Staff Form
        </Link>
        <Link
          href="#"
          href="https://discord.gg/Sq3nTXyS6D"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener"
          style="discord">
          <img src="/discordicon.png" style="height: 15px; padding-right: 10px;"></img>

          Join our Discord!
        </Link>
      </div>
    </div>
  </main>
  </Container>
  <Container>
    <main
    class="md:pt-[30px] mb-[150px]">
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-3xl mt-8 md:mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Mitosisphere</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Questions? Comments? Email us or fill out this form. We'll try to get back to you as soon as possible!
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:mitosisphere@gmail.com"
              >mitosisphere@gmail.com</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </main>
  </Container>
</Layout>
