---
import Layout from "@layouts/Layout.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import '../styles/global.css';
---

<Layout title="">
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-MTGS0M0Q0Q"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MTGS0M0Q0Q');
</script>
  <Container class="head bg-gradient-to-tr from-[#e8ded3] via-[#ced3cc] via-50% to-[#85adbf]">
    <main class="mt-[150px] lg:mt-[200px] mb-[150px]">
    <p class="mt-16 mb-8 max-[376px]:text-[2.6rem] text-5xl md:text-7xl font-bold lg:tracking-tight">
      Partners
    </p>
    <p class="text-lg text-slate-750 md:text-[1.6rem] leading-tight max-w-2xl lg:max-w-4xl text-left">
      A special thank you to all of our partners, who have helped us impact a wider audience!
    </p>
  </main>
  </Container>
  <Container>
    <main class="md:pt-[30px] mt-[100px] mb-[100px]">
        <a href="https://discord.gg/CUUwVAVveD"><img class="w-[600px] place-self-center mb-[100px] md:mb-[150px]" src="/partners/bods.png"></img></a>
        <a href="https://www.sciovirtual.org/"><img class="w-[600px] place-self-center mb-[100px] md:mb-[150px]" src="/partners/sciovirtual.png"></img></a>
        <a href="https://pandorax.org/"><img class="w-[600px] place-self-center md:pb-[100px]" src="/partners/pandorax.png"></img></a>
    </main>
  </Container>
</Layout>

