---
import Layout from "@layouts/Layout.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import '../styles/global.css';

---

<Layout title="">
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <Container>
    <main class="mt-[150px] lg:mt-[200px] mb-[100px]">
    <p class="mt-16 mb-8 max-[376px]:text-[2.6rem] text-5xl md:text-7xl font-bold lg:tracking-tight">
      Resources
    </p>
    <p class="text-slate-800 text-lg md:text-[1.6rem] leading-tight max-w-2xl lg:max-w-4xl text-left">
      A collection of useful resources, intended to assist with biology as a whole in addition to our competitions.
    </p>
  </main>
  </Container>
  <main class="md:pt-[30px] mb-[100px]">
      <p class="mt-16 mb-[30px] max-[376px]:text-[2.6rem] text-5xl font-bold lg:tracking-tight place-self-center">
        Sample Tests
      </p>
    <div class="leading-loose text-lg md:text-[1.25rem] text-slate-800 max-w-xl lg:max-w-3xl place-self-center text-center">
      <a href="/practice-test.pdf" class="text-[#00008b]">\(p+q=1\) Practice Exam</a><br>
      <a href="/practice-answers.pdf" class="text-[#00008b]">\(p+q=1\) Practice Exam Answers</a>
      </div>
    </main>
  <Container>
    <main class="md:pt-[30px] mb-[150px]">
      <p class="mt-16 mb-[50px] max-[376px]:text-[2.6rem] text-5xl font-bold lg:tracking-tight place-self-center">
        Textbooks
      </p>
      <div class="grid md:grid-cols-3 gap-y-[75px] md:gap-[75px] mx-auto max-w-4xl mt-6">
        <div>
          <img src="/textbooks/campbell.png" class="h-[329px] w-[272px] rounded-lg mb-[35px] place-self-center transition hover:-translate-y-1 hover:shadow-xl"></img>
          <p class="font-bold text-xl place-self-center mb-[10px]">Campbell's Biology</p>
          <p class="place-self-center text-slate-800 text-center">Campbell's Biology is the essential textbook for those beginning their journey in biology competitions. It presents foundational concepts in a clear, engaging, and accessible manner!</p>
        </div>
        <div>
          <img src="/textbooks/vander.png" class="h-[329px] w-[272px] rounded-lg mb-[35px] place-self-center transition hover:-translate-y-1 hover:shadow-xl"></img>
          <p class="font-bold whitespace-nowrap text-xl place-self-center mb-[10px]">Vander's Human Physiology</p>
          <p class="place-self-center text-slate-800 text-center">Vander's Human Physiology is an excellent textbook for anyone seeking to deepen their knowledge in anatomy and physiology. It's comprehensive, concise, and has detailed and understandable explanations.</p>
        </div>
        <div>
          <img src="/textbooks/raven.png" class="h-[329px] w-[272px] rounded-lg mb-[35px] place-self-center transition hover:-translate-y-1 hover:shadow-xl"></img>
          <p class="font-bold text-xl place-self-center mb-[10px]">Raven's Biology of Plants</p>
          <p class="place-self-center text-slate-800 text-center">Raven's Biology of Plants is the book when it comes to plants, covering all the painstaking details of plant physiology, taxonomy, evolution, and morphology.</p>
        </div>
        <div>
          <img src="/textbooks/brooker.png" class="h-[329px] w-[272px] rounded-lg mb-[35px] place-self-center transition hover:-translate-y-1 hover:shadow-xl"></img>
          <p class="font-bold text-xl place-self-center text-center mb-[10px]">Brooker's Genetics - Analysis & Principles</p>
          <p class="place-self-center text-slate-800 text-center">Brooker's Genetics is an amazing way to improve genetics skills, covering critical genetics concepts and the relevant molecular biology in addition to helping students with genetics problem-solving skills.</p>
        </div>
        <div>
          <img src="/textbooks/alberts.png" class="h-[329px] w-[272px] rounded-lg mb-[35px] place-self-center transition hover:-translate-y-1 hover:shadow-xl"></img>
          <p class="font-bold text-xl place-self-center text-center mb-[10px]">Albert's Molecular Biology of the Cell</p>
          <p class="place-self-center text-slate-800 text-center">Albert's Molecular Biology of the Cell is the one and only molecular biology textbook when it comes to success in competition biology—covering almost everything there is to know about the topic.</p>
        </div>
        <div>
          <img src="/textbooks/lehninger.png" class="h-[329px] w-[272px] rounded-lg mb-[35px] place-self-center transition hover:-translate-y-1 hover:shadow-xl"></img>
          <p class="font-bold text-xl place-self-center text-center mb-[10px]">Lehininger's Principles of Biochemistry</p>
          <p class="place-self-center text-slate-800 text-center">Lehninger's Principles of Biochemistry is a fantastic exposition in biochemistry. The detailed reaction schemes and structures in the book help build intuition for biochemical problems.</p>
        </div>
      </div>
  </main>
  </Container>
</Layout>
