<div class="mb-8 text-center">
  <h2 class="text-4xl font-bold">
    <slot name="title" />
  </h2>

  {Astro.slots.has('desc') && (
    <div class="mt-2 text-lg text-gray-600">
      <slot name="desc" />
    </div>
  )}
</div>